@use '@angular/material' as mat;
@use 'styles/palette';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Manrope,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--font-sans);
  letter-spacing: -0.01em;
}

a {
  color: var(--color-cool-indigo);
}
